---
- name: Base | Set locale
  command: localectl set-locale {{ base_locale }}
  when: ansible_distribution_major_version == '7'

- name: Base | Set locale to /etc/sysconfig/i18n
  replace:
    dest=/etc/sysconfig/i18n
    regexp='^LANG="en_US\.UTF-8"'
    replace='LANG="{{ base_locale }}"'
  when: ansible_distribution_major_version == '6'

- name: Base | Set timezone
  command: timedatectl set-timezone {{ base_timezone }}
  when: ansible_distribution_major_version == '7'

- name: Base | Set timezone to /etc/sysconfig/clock
  replace:
    dest=/etc/sysconfig/clock
    regexp='^ZONE="UTC"'
    replace='ZONE="{{ base_timezone }}"'
  when: ansible_distribution_major_version == '6'

- name: Base | Execute tzdata-update
  command: sudo /usr/sbin/tzdata-update
  when: ansible_distribution_major_version == '6'

- name: Base | Install basic packages
  yum: name={{ item }} state=present
  with_items:
    - vim
    - git
    - ntp

- name: Base | Ensure nptd started and enabled
  service: name=ntpd state=started enabled=yes
